In [1]:
import pandas as pd
import os
from OfficeHome.utils import *

In [2]:
res_columns = ['Art', 'Clipart', 'Product', 'RealWorld', 'Average']

In [3]:
ece_file = os.path.join('..', 'results', 'resnet', 'OfficeHome', 'crossentropy', 'limitation', 'ECE_mean.csv')
ece = pd.read_csv(ece_file)

### Average the domain wise results for target domains
We also have stored results for std. Here we are abusing the statistics by taking the standard deviation over columns. We ran the 20 iterations over 500 randomly selected samples. By abusing we are treating these columns as single iteration results.

In [4]:
res_mean = ece[(ece['Valid'] == False) & (ece['Train'] == False)].groupby(['Domain']).mean().T
res_std = ece[(ece['Valid'] == False) & (ece['Train'] == False)].groupby(['Domain']).std().T

/tmp/ipykernel_6494/3698006081.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  res_mean = ece[(ece['Valid'] == False) & (ece['Train'] == False)].groupby(['Domain']).mean().T
/tmp/ipykernel_6494/3698006081.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  res_std = ece[(ece['Valid'] == False) & (ece['Train'] == False)].groupby(['Domain']).std().T

In [5]:
res_mean['Average'] = res_mean[['Art', 'Clipart', 'Product', 'RealWorld']].mean(axis=1)

#### Get the standard deviations for Average. The function is in utils.py

In [6]:
res_std['std'] = get_std(res_mean, res_std)

In [7]:
res_mean = res_mean.round(2)
res_std = res_std.round(2)

In [8]:
for domain in ['Art', 'Clipart', 'Product', 'RealWorld']:
    res_mean[domain] = res_mean[domain].astype(str) + '+' + res_std[domain].astype(str)
res_mean['Average'] = res_mean['Average'].astype(str) + '+' + res_std['std'].astype(str)

In [9]:
res_mean.rename_axis('Method', axis='columns', inplace=True)

In [10]:
res_mean[res_columns]

Method               Art     Clipart    Product  RealWorld     Average
Train            0.0+0.0     0.0+0.0    0.0+0.0    0.0+0.0     0.0+0.0
Valid            0.0+0.0     0.0+0.0    0.0+0.0    0.0+0.0     0.0+0.0
Uncalibrated  28.67+9.15  40.07+4.13  19.7+4.03  21.58+4.6  27.51+9.92
TS             9.84+0.42  15.75+1.25  6.72+1.43  6.24+0.89   9.64+3.94

In [11]:
res_mean[res_columns].T[['Uncalibrated', 'TS']].T

Method               Art     Clipart    Product  RealWorld     Average
Uncalibrated  28.67+9.15  40.07+4.13  19.7+4.03  21.58+4.6  27.51+9.92
TS             9.84+0.42  15.75+1.25  6.72+1.43  6.24+0.89   9.64+3.94